* {
  font-family: "Google Sans", "Noto Sans Myanmar UI", arial, sans-serif;
  padding: 0;
  box-sizing: border-box;
}
#container {
  width: 400px;
  height: 550px;
  margin: auto;
  margin-top: 80px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  padding: 30px;
  text-align: center;
  border-radius: 5px;
}
#google {
  height: 40px;
  width: 100px;
  border: 0;
  /* margin-bottom: 20px; */
}
h3 {
  font-weight: 400px;
  font-size: 18px;
}
a {
  text-decoration: none;
  color: #1f52f9;
}
#email,
#pass {
  width: 350px;
  height: 50px;
  font-size: 16px;
  margin-top: 30px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 3px;
  outline: none;
}
#email {
  margin-bottom: -50px;
}
#email + label {
  position: relative;
  top: -19px;
  left: -130px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
#pass + label {
  position: relative;
  top: -35px;
  left: -187px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
#email:focus,
#pass:focus {
  border: 2px solid #1f52f9;
}

#email:focus + label {
  top: -2.6rem;
  color: #1f52f9;
  font-weight: 500px;
  background: none;
  z-index: 10;
  transition: all 0.2s ease-out;
}
#pass:focus + label {
  top: -3.6rem;
  color: #1a73e8;
  font-weight: 500px;
  background: none;
  z-index: 10;
  transition: all 0.2s ease-out;
}
#email:not(:placeholder-shown) + label,
#email:focus + label {
  top: -2.7rem;
  color: gray;
  font-weight: 500px;
  background: none;
  z-index: 10;
  outline: none;
  background-color: white;
  padding: 0px 3px;
  color: #1a73e8;
}
#pass:not(:placeholder-shown) + label,
#pass:focus + label {
  top: -3.7rem;
  color: gray;
  font-weight: 500px;
  background: none;
  z-index: 10;
  outline: none;
  background-color: white;
  padding: 0px 3px;
  color: #1a73e8;
}

#pass + p {
  margin-top: 50px;
  font-size: 13px;
}
#signup {
  margin-top: 40px;
}
#link {
  float: left;
  margin-left: 10px;
}
#login {
  float: right;
  background-color: rgb(26, 115, 232);
  color: white;
  height: 35px;
  width: 80px;
  border-radius: 5px;
  margin-top: -7px;
  border: none;
}
#login:hover {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 3px 8px;
}
#login:hover {
  cursor: pointer;
}
#showDiv {
  margin-top: 20px;
  margin-left: 0px;
  margin-bottom: 20px;
  float: left;
}
#showDiv + p {
  font-size: 13px;
  color: gray;
  font-family: Georgia, "Times New Roman", Times, serif;
  clear: both;
}
.msg {
  position: absolute;
  top: 2rem;
  left: 20%;
  width: 60%;
  padding: 2rem 0rem;
  display: flex;
  justify-content: space-around;
  color: white;
  border: 0.25px solid gray;
  height: 3rem;
  font-size: 2.5rem;
  background-color: #008744;
}
.msg > div {
  margin-top: -1.5rem;
}
.error {
  background-color: #d62d20;
}
.fade-out {
  animation: fadeOut 2.5s ease;
}
@keyframes fadeOut {
  from {
    opacity: 1;
  } to {
    opacity: 0;
  }
}


@media screen and ( max-width: 1000px ) {
  .msg {
    font-size: 2rem;
  }
}


@media screen and ( max-width: 700px ) {
  .msg {
    font-size: 1.5rem;
  }
}