#upgrade-section-3{
    background-image: url("https://www.gstatic.com/youtube/img/promos/growth/ytr_lp2_266999_story1_desktop_2880x1620.jpg"); 
}
#upgrade-section-4{
    background-image: url("https://www.gstatic.com/youtube/img/promos/growth/ytr_lp2_266999_story2_desktop_2880x1620.jpg");    
}
#upgrade-section-5{
    background-image: url("https://www.gstatic.com/youtube/img/promos/growth/ytr_lp2_266999_story3_desktop_2880x1620.jpg");
}
#upgrade-section-3,#upgrade-section-4,#upgrade-section-5{
    width: 100%;
    height: 550px;
    background-size: cover;
    margin-bottom: 20px;
    background-repeat: no-repeat;
}
#upgrade-section-3>div,#upgrade-section-5>div,#upgrade-section-4 >div{
   padding-top: 14%;
}

.color{
    color: #AAAAAA;
}
.image-icon{
    height: 80px;
    width: 80px;
    border-radius: 40px;
    border: 2px solid red;
}

@media only screen and (max-width: 600px) {
    #upgrade-section-3,#upgrade-section-5,#upgrade-section-4{
        width: 100%;
        height: 250px;
        background-size: cover;
        margin-bottom: 20px;
        background-repeat: no-repeat;
    }
}

@media only screen and (max-width: 768px) {
    #upgrade-section-3,#upgrade-section-5,#upgrade-section-4{
        width: 100%;
        height: 270px;
        background-size: cover;
        margin-bottom: 20px;
        background-repeat: no-repeat;
    }
}


